<footer>

    <div class="footer-category">

        <div class="container">

            <h2 class="footer-category-title">קטגוריות</h2>

            @if (CategoryService.AllCategories != null && CategoryService.AllCategories.Any())
            {
                @foreach (var category in CategoryService.AllCategories)
                {
                    <div class="footer-category-box">
                        <h3 class="category-box-title">@category.Name :</h3>

                        @if (category.Subcategories != null && category.Subcategories.Any())
                        {
                            @foreach (var subcategory in category.Subcategories)
                            {
                                <a href="#" class="footer-category-link">@subcategory.Name</a>
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>

    <div class="footer-nav">
        <div class="container">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Popular Categories</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Fashion</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Electronic</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Cosmetic</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Health</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Watches</a>
                </li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Products</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Prices drop</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">New products</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Best sales</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Contact us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Sitemap</a>
                </li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Our Company</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Delivery</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Legal Notice</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Terms and conditions</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">About us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Secure payment</a>
                </li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Services</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Prices drop</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">New products</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Best sales</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Contact us</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Sitemap</a>
                </li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">צור קשר</h2>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>

                    <address class="content">
                        צביה ויצחק 2
                        חיפה
                    </address>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <i class="fa-solid fa-phone"></i>
                    </div>

                    <a href="tel:+972528395153" class="footer-nav-link">
                        052-839-5153
                    </a>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <i class="fa-regular fa-envelope"></i>
                    </div>

                    <a href="mailto:Shalmaev@bezeqint.net" class="footer-nav-link">Shalmaev@bezeqint.net</a>
                </li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Follow Us</h2>
                </li>
                <li>
                    <ul class="social-link">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-facebook" role="img" class="md hydrated" aria-label="logo facebook"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-linkedin" role="img" class="md hydrated" aria-label="logo linkedin"></ion-icon>
                            </a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <img src="/images/payment.png" alt="payment method" class="payment-img">
            <p class="copyright">
                Copyright © <a href="#">Anon</a> all rights reserved.
            </p>
        </div>
    </div>

</footer>

@code {
    List<Category> categories = new();

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetAllCategories();
        categories = CategoryService.AllCategories ?? new List<Category>();

        StateHasChanged();
    }
}