@using TennisStoreClient.Shared.Login
<div class="header-main">
    <div class="container">
        <a href="/" class="header-logo">
            <img src="images/Logos/MainLogo.svg" alt="Tennis4You logo" width="120">
        </a>
        <div class="header-search-container">
            <input type="search" name="search" class="search-field" placeholder="מה תרצה לחפש היום?">
            <button class="search-btn">
                <i name="search-outline"></i>
            </button>
        </div>
        <div class="header-user-actions">
            <button class="action-btn" @onclick="OpenModal">
                <i class="fa-regular fa-user fa-2xs"></i>
            </button>
            <button class="action-btn">
                <i class="fa-regular fa-heart fa-2xs"></i>
                <span class="count">0</span>
            </button>
            <NavLink href="@("/my-cart")">
                <button class="action-btn">
                    <i class="fa-solid fa-bag-shopping fa-2xs"></i>
                    <span class="count">@CartService.CartCount</span>
                </button>
            </NavLink>
        </div>
    </div>
</div>

@* <LoginModal IsModalOpen="IsModalOpen" /> *@

@code {
    private bool IsModalOpen = false;

    protected override async Task OnInitializedAsync()
    {
        CartService.CartAction = StateHasChanged;
        await CartService.GetCartCount();
    }

    private void OpenModal() => IsModalOpen = true;
}
