<div class="header-top">
    <div class="container">
        <ul class="header-social-container">
            <li>
                <a href="#" class="social-link">
                    <ion-icon class="fa-brands fa-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <ion-icon class="fa-brands fa-twitter"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <ion-icon class="fa-brands fa-instagram"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                    <ion-icon class="fa-brands fa-linkedin"></ion-icon>
                </a>
            </li>
        </ul>
        <div class="header-alert-news">
            <p>
                <b>משלוח חינם</b>
                בהזמנות מעל - ₪549

            </p>
        </div>
        <div class="header-top-actions">
            @* <select name="currency">
                <option value="usd">USD $</option>
                <option value="eur">EUR €</option>
            </select>
            <select name="language">
                <option value="en-US">English</option>
                <option value="es-ES">Español</option>
                <option value="fr">Français</option>
            </select> *@
        </div>
    </div>
</div>
