<div class="mobile-bottom-navigation">
    <button class="action-btn">
        <i name="menu-outline"></i>
    </button>
    <button class="action-btn">
        <i name="bag-handle-outline"></i>
        <span class="count">0</span>
    </button>
    <button class="action-btn">
        <i name="home-outline"></i>
    </button>
    <button class="action-btn">
        <i name="heart-outline"></i>
        <span class="count">0</span>
    </button>
    <button class="action-btn">
        <i name="grid-outline"></i>
    </button>
</div>
