@using TennisStoreClient.Components.Home
@using TennisStoreClient.Components.Home.Testimonials
@using TennisStoreClient.Shared.Footer
@using TennisStoreClient.Shared.Header
@using TennisStoreClient.Shared.Notifications
@using TennisStoreClient.Shared.Modals
@inherits LayoutComponentBase

<div>
    <Header />
    <NotificationToast />
    <Modal />

    <main>
        @Body
    </main>

    <Footer />
</div>
