@page "/brand/{id:int}"
@using System.Text.RegularExpressions
@using TennisStoreClient.Components.Home

<div class="container">
    <img class="brand-logo" src="@("/images/" + CurrentBrand?.LogoPath)" alt="@CurrentBrand?.HebName">
    <img class="banner-img" src="https://i.imgur.com/@CurrentBrand?.BrandPageBannerImage" alt="">
    @if (CurrentBrand?.Subcategories != null)
    {
        <div class="subcategory-wrapper">
            @foreach (var subcategory in CurrentBrand.Subcategories)
            {
                if (!string.IsNullOrEmpty(subcategory.BrandIconPath))
                {
                    <div class="subcategory-icon" @onclick="() => LoadProducts(CurrentBrand.Id, subcategory.Id)">
                        <div class="subcategory-content">
                            <img class="subcategory-img" src="/Images/Icons/@subcategory.BrandIconPath" alt="@subcategory.Name">
                            <span class="subcategory-name">@subcategory.CategoryName</span>
                        </div>
                    </div>
                }
            }
        </div>
    }
    @* <h1 class="brand-title">Hi</h1>
    <span>@CurrentBrand?.HebName</span> *@

    @if (Products?.Any() == true)
    {
        <div class="subcategory-products-wrapper">
            <ProductsGrid Products="Products" Title="@SelectedSubcategoryName" />
        </div>
    }

</div>

@code {
    #region Parameters

    [Parameter]
    public int Id { get; set; }

    #endregion

    #region Properties

    private Brand? CurrentBrand { get; set; }
    private List<Product> Products { get; set; } = new();
    private string SelectedSubcategoryName { get; set; } = "";


    #endregion

    #region Lifecycle Methods

    protected override async Task OnInitializedAsync()
    {
        CurrentBrand = await BrandService.GetBrandById(Id);
    }

    private async Task LoadProducts(int brandId, int subcategoryId)
    {
        Products = await BrandService.GetProductsByBrandAndSubcategory(brandId, subcategoryId);

        var subcategory = CurrentBrand?.Subcategories!.FirstOrDefault(sc => sc.Id == subcategoryId);
        SelectedSubcategoryName = subcategory?.CategoryName ?? "";
    }

    #endregion
}
