@page "/"
@using TennisStoreClient.Components.Home
@using TennisStoreClient.Components.Home.Testimonials

<Banner />
<BrandSlider />
<ProductContainer />
<TestimonialsBox />
<Blog />

@* <FrontPageComponent></FrontPageComponent>
<div class="col-md-12 mt-5">
    <FeaturedProductsComponent></FeaturedProductsComponent>
</div> *@