@page "/identity/account/register"
@using TennisStoreSharedLibrary.DTOs
@implements IDisposable

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <EditForm Enhance Model="User" OnValidSubmit="HandleRegistration">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="card">
                    <div class="card-header">Fill this form to Register</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Full Name</label>
                            <InputText @bind-Value="User.Name" class="form-control"></InputText>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="User.Email" class="form-control"></InputText>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Password</label>
                            <input @bind="User.Password" type="password" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Confirm Password</label>
                            <input @bind="User.ConfirmPassword" type="password" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            @if (MessageDialogService.ShowSaveButton)
                            {
                                <button class="btn btn-outline-primary float-end" type="submit">Register</button>
                            }
                            <BusyButtonComponent ShowBusyButton="MessageDialogService.ShowBusyButton"></BusyButtonComponent>
                        </div>

                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<MessageDialog @ref="MessageDialogService.messageDialog"></MessageDialog>

@code {
    UserDTO User = new();

    public void Dispose() => MessageDialogService.Action -= StateHasChanged;

    protected override void OnInitialized() => MessageDialogService.Action += StateHasChanged;

    async Task HandleRegistration()
    {
        MessageDialogService.ShowSaveButton = false;
        MessageDialogService.ShowBusyButton = !MessageDialogService.ShowSaveButton;
        var (flag, message) = await AccountService.Register(User);
        if (flag)
        {
            MessageDialogService.messageDialog!.SetDialogValues("success", message);
            User = new();
        }
        else
            MessageDialogService.messageDialog!.SetDialogValues("danger", message);
        MessageDialogService.SetMessageDialog();
    }
}
