<div class="testimonial">
    <h2 class="title">אודות</h2>

    <div class="testimonial-card">
        @* <img src="/images/testimonial-1.jpg" alt="alan doe" class="testimonial-banner" width="80" height="80"> *@
        <p class="testimonial-name">אנטולי שלמייב</p>
        <p class="testimonial-title">מנכ"ל ומייסד</p>
        <i  alt="quotation" class="quotation-img fa-solid fa-quote-left" width="26"></i>
        <p class="testimonial-desc">
            מתמחה בציוד טניס מקצועי ואיכותי, עם התאמה אישית לכל רמה וסגנון משחק. מציע מחבטים, כדורים, אביזרים וביגוד שנבחרו בקפידה כדי לשפר את חוויית המשחק שלכם. כל לקוח הוא אלוף!
        </p>
    </div>
</div>
