<div class="category">
    <div class="container">
        <div class="brand-item-container has-scrollbar">
            @if (BrandService.AllBrands != null && BrandService.AllBrands.Any())
            {
                @foreach (var brand in BrandService.AllBrands)
                {
                    <div class="brand-item">
                        <div class="brand-img-box">
                            <img src="@("/images/" + brand.LogoPath)" alt="a" width="40">
                        </div>
                        <div class="brand-content-box">
                            <div class="brand-content-flex">
                                <h3 class="brand-item-title">@brand.EnName</h3>
                                <p class="brand-item-amount">(@brand.ProductsCount)</p>
                            </div>
                            <NavLink href="@($"/brand/{brand.Id}")">
                                <span class="brand-btn">הצג מוצג</span>
                            </NavLink>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await BrandService.GetAllBrands();
        BrandService.BrandAction += StateHasChanged;
    }

    public void Dispose() => BrandService.BrandAction -= StateHasChanged;
}
