@using TennisStoreSharedLibrary.Models
<div class="product-minimal">
    <ProductHighlights Title="חדש בחנות" Products="newArrivals" />
    <ProductHighlights Title="מוצרים מובילים" Products="trendingProducts" />
    <ProductHighlights Title="המדורגים ביותר" Products="topRatedProducts" />
</div>

@code {

    private List<Product> newArrivals = new List<Product>();
    private List<Product> topRatedProducts = new List<Product>();
    private List<Product> trendingProducts = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetAllProducts(false);

        newArrivals = ProductService.AllProducts
            .OrderByDescending(product => product.DateUploaded)
            .Take(8)
            .ToList();

        trendingProducts = ProductService.AllProducts
            .Take(8)                          
            .ToList();

        topRatedProducts = ProductService.AllProducts
            .OrderByDescending(product => product.Rating)
            .Take(8)
            .ToList();

        StateHasChanged(); 
    }


}