<div class="product-container">
    <div class="container">
        <Sidebar />
        <div class="product-box">
            <ProductBox />
            <DealOfTheDay />
            <NewProducts />
        </div>
    </div>
</div>

@code {

}
